.fontBar{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 12%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    z-index: 200;
}
.fontBarIcon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40%;
}
